<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<% if @sample.pulses? %>
  <%= turbo_stream_from 'pulse' %>
<% end %>

<header>
  <h1>RCharts demo</h1>
  <div>
    <span>
      Reload the page for fresh random data.
    </span>
    <nav>
      <%= button_to 'Reload', nil, method: :get, data: { turbo_action: :replace } %>
      <%= form_with model: @sample, method: :get, data: { turbo_action: :replace } do |form| %>
        <%= form.hidden_field :pulses, value: @sample.pulses? ? false : true %>
        <%= form.submit @sample.pulses? ? 'Turn off auto-reload' : 'Turn on auto-reload',
                        class: { 'red' => @sample.pulses?, 'green' => !@sample.pulses? } %>
      <% end %>
    </nav>
  </div>
</header>

<main>
  <section>
    <h2>Timeseries</h2>
    <%= line_graph_for @sample.daily_timeseries, 'Daily', breakpoints: { rotation: { half: 1.7 } } %>
    <%= line_graph_for @sample.monthly_timeseries, 'Monthly (smoothed)', smooth: 0.16, breakpoints: { rotation: { half: 1.4 } } %>
    <%= line_graph_for @sample.yearly_timeseries, 'Yearly', breakpoints: { rotation: { half: 1.2 } } %>
    <%= area_graph_for @sample.comparison_timeseries, 'Comparison (stacked area)',
                       stacked: true, breakpoints: { rotation: { half: 1.2 } } %>
    <%= line_graph_for @sample.comparison_timeseries, 'Comparison (lines)', breakpoints: { rotation: { half: 1.2 } } %>
    <%= line_graph_for @sample.sparse_timeseries, 'Sparse data', breakpoints: { rotation: { half: 1.2 } } %>
  </section>

  <section>
    <h2>Categorical</h2>
    <%= bar_chart_for @sample.categorical_data, 'Simple bar chart', minimum: 0 %>
    <%= horizontal_bar_chart_for @sample.categorical_data, 'Horizontal bar chart', minimum: 0 %>
    <%= bar_chart_for @sample.multi_series_categorical, 'Multi-series bar chart', minimum: 0 %>
    <%= bar_chart_for @sample.multi_series_categorical, 'Stacked bar chart', stacked: true, minimum: 0 %>
    <%= horizontal_bar_chart_for @sample.multi_series_categorical, 'Stacked horizontal bar chart', stacked: true %>
    <%= bar_chart_for @sample.mixed_sign_data, 'Mixed signs', emphasis: :zero? %>
  </section>

  <section>
    <h2>Continuous & Distributions</h2>
    <%= line_graph_for @sample.points, 'Linear points' %>
    <%= scatter_graph_for @sample.points, 'Scatter plot' %>
    <%= area_graph_for @sample.distribution_data, 'Distribution area', smooth: 0.16 %>
    <%= line_graph_for @sample.distribution_data, 'Distribution line', smooth: 0.16 %>
  </section>

  <section>
    <h2>Advanced Combinations</h2>
    <%= mixed_chart_for @sample.comparison_timeseries, 'Bars and lines', smooth: 0.16 %>
    <%= mixed_chart_for @sample.comparison_timeseries, 'Dual axes', smooth: 0.16, both_axes: true %>
  </section>
</main>
